---
import Layout from "../layouts/Layout.astro";

const title = "Impressum";
---

<Layout title={title}>
  <main class="flex justify-center">
    <h1 class="text-4xl">{title}</h1>
  </main>
</Layout>
